## Exercise 1. 출력
 - 화면에 "Hello World!"를 출력하세요

In [1]:
print ("Hello World")

Hello World

## Exercise 2. 출력
 - 화면에 "I don`t like C language"를 출력하세요.

In [2]:
print ('"I don`t like C language"')

"I don`t like C language"

In [3]:
print ('I do')

I do

In [4]:
print ('I don\'t like C language')

I don't like C language

In [5]:
print ('I don\'\'\'\'\'\'\'t like C language')

I don'''''''t like C language

In [6]:
print ("My name is \"Dave Lee\"")

My name is "Dave Lee"

## Exercise 3. 출력
 - Print 함수를 사용하여 3.1415의 값을 출력하세요.
     - 단, 소수점 아래는 첫 번째 자리까지만 표시되도록 하세요.

Example 
<br/>3.1

In [11]:
print ("%0.1f" % 3.18151212213231414)

3.2

In [7]:
print (3.1415)

3.1415

In [8]:
print (("%0.1f") % 3.1415)

3.1

In [10]:
print ("The answer is %0.1f is the correct answer" % 3.1415)

The answer is 3.1 is the correct answer

## Exercise 4. 형 변환
 - 문자열 '720'를 정수형으로 변환하라. 정수 100을 문자열 '100'으로 변환하라

In [30]:
data1 = '720'
data1 = int(data1)
data2 = 100
data2 = str(data2)
print (data1, type(data1))
print (data2, type(data2))

720 <class 'int'>
100 <class 'str'>

In [32]:
string = '720'
print (string)

720

In [33]:
type (string)

str

In [34]:
int (string)

720

In [15]:
string

'720'

In [18]:
string = '720'
print (type(string))
string = int(string)
print (type(string))

<class 'str'>
<class 'int'>

In [27]:
digit1 = 100
print (digit1, type(digit1))
digit2 = str(digit1)
print (digit2, type(digit2))

100 <class 'int'>
100 <class 'str'>

## Exercise 5. 연산
 - 2와 4 숫자를 변수에 넣고, 두 변수를 더한 값, 곱한 값, 나눈 값을 출력하세요
 
Example
<br/>6
<br/>8
<br/>0.5

In [35]:
data1 = 2
data2 = 4

print (data1 + data2)
print (data1 * data2)
print (data1 / data2)

6
8
0.5

In [36]:
# How about using ''??
data1 = '2'
data2 = '4'

print (data1 + data2)

24

## Exercise 6. 연산
 - 밑이 6 이고, 지수가 2 일 때 거듭제곱 값을 출력하라.
     - 6의 2승
     
Example

36

In [42]:
print ("6**2 =", 6**2)

6**2 = 36

## Exercise 7. 입력과 출력
- 사용자로부터 두 개의 숫자를 입력받은 후 두개의 숫자를 더한 값을 각각 출력 하는 프로그램을 작성하세요.

Example
<br/>INPUT: 2 and 4
<br/>OUTPUT:

6

In [43]:
data1 = 2
data2 = 4

print (data1 + data2)

6

In [44]:
data1 = '2'
data2 = '4'

print (data1 + data2)

24

In [45]:
data1 = '2'
print (type(data1))

<class 'str'>

In [1]:
data1 = input()
print (type(data1))

1
<class 'str'>

In [3]:
data1 = input()
data2 = input()
print (data1 + data2)

2
class
<class 'str'>

In [6]:
data1 = input()
data1 = int(data1)
data2 = input()
data2 = int(data2)

print (int(data1) + int(data2))

2
4
6

## Exercise 8. 입력과 출력
 - 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값을 각각 출력하는 프로그램을 작성하세요.
 
Example
<br/>INPUT: 2 and 4
<br/>OUTPUT:
 
6
<br/>8
<br/>0.5

In [ ]:
data1 = input()
data2 = input()

print(int(data1) + int(data2))

In [7]:
data1 = input()
data2 = input()

print(int(data1) + int(data2))
print(int(data1) * int(data2))
print(int(data1) / int(data2))

1
2
3
2
0.5

## Exercise 9. 입력과 출력
 - 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 출력하는 프로그램을 작성하세요

<br/>Example
<br/>INPUT: 4 and 4
<br/>OUTPUT

8
<br/>16
<br/>1.0
<br/>1
<br/>0

In [9]:
data1 = input()
data2 = input()

print(int(data1) + int(data2)) # 더한 값
print(int(data1) * int(data2)) # 곱한 값
print("%0.0f" % (int(data1) / int(data2))) # 나눈 값
print(int(data1) // int(data2)) # 나눈 몫
print(int(data1) % int(data2)) # 나머지 값

4
4
8
16
1
1
0

## Exercise 10. 입력과 출력
 - 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.
 
<br/>Example
<br/>INPUT: 4 and 4
<br/>OUTPUT:

4 + 4 = 8
<br/>4 * 4 = 16
<br/>4 / 4 = 1
<br/>4 // 4 = 1
<br/>4 % 4 = 0

In [10]:
data1 = input()
data2 = input()

print(data1, "+", data2, "=", int(data1) + int(data2))
print(data1, "*", data2, "=", int(data1) * int(data2))
print(data1, "/", data2, "=", int(data1) / int(data2))
print(data1, "//", data2, "=", int(data1) // int(data2))
print(data1, "%", data2, "=", int(data1) % int(data2))

4
4
4 + 4 = 8
4 * 4 = 16
4 / 4 = 1.0
4 // 4 = 1
4 % 4 = 0

## Exercise 11. 입력과 출력
 - 사용자로부터 두 개의 숫자를 입력받은 후 두 개의 숫자를 더한 값, 곱한 값, 나눈 값, 나눈 몫, 나머지 값을 각각 다음과 같이 출력하는 프로그램을 작성하세요.
     - 단, 나눈 값은 소수점 첫번째 자리까지만 출력하세요.

<br/>Example
<br/>INPUT: 5 and 4
<br/>OUTPUT:

5 + 4 = 9
<br/>5 * 4 = 20
<br/>5 / 4 = 1.2
<br/>5 // 4 = 1
<br/>5 % 4 = 1

In [14]:
data1 = input()
data2 = input()

print(data1, "+", data2, "=", int(data1) + int(data2))
print(data1, "*", data2, "=", int(data1) * int(data2))
print(data1, "/", data2, "=", "%0.1f" % (int(data1) / int(data2)))
print(data1, "//", data2, "=", int(data1) // int(data2))
print(data1, "%", data2, "=", int(data1) % int(data2))

5
4
5 + 4 = 9
5 * 4 = 20
5 / 4 = 1.2
5 // 4 = 1
5 % 4 = 1