## Exercise 49.  데이터 구조 (튜플)
- a, b, c, d, e를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 번째 튜플값을 출력하세요

In [5]:
tuple_data = ("a", "b", "c", "d", "e")
print(tuple_data[0], tuple_data[4])

a e

## Exercise 50. 데이터 구조 (튜플)
- 다음 코드를 작성해서 실행해보고 에러가 나는 이유를 설명하세요.
    - 실행코드
   ```python
    tupledata = ('dave', 'fun-coding', 'endless')
tupledata[0] = 'david'
    ```
    - 에러
   
```python
    TypeError                                 Traceback (most recent call last)
<ipython-input-2-db4a259aad24> in <module>()
      1 tupledata = ('dave', 'fun-coding', 'endless')
----> 2 tupledata[0] = 'david'

TypeError: 'tuple' object does not support item assignment
```

In [6]:
# Tuple data cannot be changed!
# tupledata = ('dave', 'fun-coding', 'endless')
# tupledata[0] = 'david'

TypeError: 'tuple' object does not support item assignment

## Exercise 51. 데이터 구조 (튜플)
- 다음 코드를 읽고, 최종적으로 var1 과 var2의 값이 어떤 값이될지 확인해보고, 왜 이렇게 동작하는지 튜플을 기반으로 설명하세요.
    - 실행코드
    ```python
var1, var2 = 1, 2
var1, var2 = var2, var1
```

In [12]:
# Tuple = Tuple data
var1, var2, var3, var4 = 1, 2, 3, 4
var1, var2, var3, var4 = var4, var3, var2, var1
print(var1, var2, var3, var4)

4 3 2 1

## Exercise 52. 데이터 구조 (튜플)
- 다음 코드에서 두번째 데이터부터 마지막 데이터를 다음과 같이 출력하세요
```python
tupledata = ('fun-coding1', 'fun-coding2','fun-coding3','fun-coding4','fun-coding5')
```
출력:
<br/>('fun-coding2,'fun-coding3','fun-coding4','fun-coding5')

In [19]:
tupledata = ('fun-coding1', 'fun-coding2','fun-coding3','fun-coding4','fun-coding5')
tupledata[1:]

('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

## Exercise 53. 데이터 구조 (튜플과 리스트)
- 다음 튜플 데이터를 리스트 데이터로 변환한 후에 'fun-coding4' 데이터를 마지막에 추가하고, 다시 튜플 데이터로 변환하세요
```python
tupledata = ('fun-coding1','fun-coding2','fun-coding3')
```

In [36]:
tupledata = ('fun-coding1','fun-coding2','fun-coding3')
print(type(tupledata)) # tupledata 타입 출력
listdata = list(tupledata) # tupledata 를 listdata 로 변환
print(type(listdata)) # listdata 타입 출력
listdata.append('fun-coding4') # listdata 에 'fun-coding4' 추가
print(listdata) # listdata 출력
tupledata = tuple(listdata) # listdata 를 tupledata 로 변환
print(tupledata, type(tupledata))

<class 'tuple'>
<class 'list'>
['fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4']
('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4') <class 'tuple'>

## Exercise 54. 데이터 구조 (튜플, 리스트, 딕셔너리)
- 비어 있는 튜플, 리스트, 딕셔너리 변수를 하나씩 각각 만드세요.

In [37]:
tupledata = tuple()
listdata = list()
dictdata = dict()

print(type(tupledata),type(listdata),type(dictdata))

<class 'tuple'> <class 'list'> <class 'dict'>

## Exercise 55. 데이터 구조 (딕셔너리)
- 다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 딕셔너리 변수의 key 값인 영어단어, value 값인 의미 만을 가진 리스트 변수를 각각 만들고, 두 리스트 변수를 출력하세요

|영어단어 | 의미 |
|:--:|:--:|
|environmet | 환경 |
|company    | 회사 |
|government  | 정부, 정치 |
|face       | 얼굴 |

- 출력 예
```python
{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'compnay', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']
 ```

In [49]:
dictdata = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
dictdata_keys = [data for data in dictdata.keys()] # using list comprehension
dictdata_values = [data for data in dictdata.values()] # using list comprehension
print(dictdata_keys)
print(dictdata_values)

['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']

## Exercise 56. 데이터 구조 (딕셔너리)
- 다음 영어 사전 데이터를 딕셔너리 변수로 만들어서 다음과 같이 출력하세요.
    - 단, 반복문을 사용하세요
```python
environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴
```

| 영어단어 | 의미 |
|:--:   | :--: |
|environment | 환경 |
|company     | 회사 |
|government  | 정부,정치 |
|face        | 얼굴 |

In [53]:
dictdata = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

for data in dictdata.keys():
    print(data, ":", dictdata[data])

environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴

## Exercise 57. 데이터 구조 (딕셔너리)
- 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 외움표시가 X 인 영어단어만 출력하세요
    - 단, Key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.
```python
environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴
```

|영어단어|의미|외움표시|
|:----:|:----:|:----:|
|environment|환경|X|
|company|회사|O|
|government|정부,정치|X|
|face|얼굴|X|


- 출력 예

```python
environment
government
face
```

In [64]:
dictdata = {'environment': ['환경','X'], 'company': ['회사','O'], 'government': ['정부, 정치','X'], 'face': ['얼굴','X']}

for data in dictdata.keys():
    if dictdata[data][1] == 'X':
        print(data)

environment
government
face

## Exercise 58. 데이터 구조 (딕셔너리)
- 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 사용자로부터 영어단어를 입력받으면 해당 영어단어의 외움표시를 O로 수정하고, 외움표시가 X인 단어만 출력하는 프로그램을 작성하세요.
    - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.
    
```python
environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴
```

|영어단어|의미|외움표시|
|:--:|:--:|:--:|
|environment|환경|X|
|company|회사|O|
|government|정부,정치|X|
|face|얼굴|X|

- 입력: government
- 출력
```python
environment
face
```

In [1]:
dictdata = {'environment': ['환경','X'], 'company': ['회사','O'], 'government': ['정부, 정치','X'], 'face': ['얼굴','X']}

data = input()
dictdata[data][1] = 'O'

for data in dictdata.keys():
    if dictdata[data][1] == 'X':
        print(data)

government
environment
face

## Exercise 59. 데이터 구조 (딕셔너리)
- 다음 dict_all, dict2, dict3 딕셔너리 변수가 있을 때, dict2와 dict3 두 데이터를 dict_all 딕셔너리 변수에 추가한 후, dict_all 변수를 출력하세요
```python
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}
```

In [1]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face': '얼굴'}
dict3 = {'apple': '사과'}

print(dict_all)
for data in dict2.keys():
    dict_all[data] = dict2[data]
for data in dict3.keys():
    dict_all[data] = dict3[data]
print(dict_all)

{'environment': '환경', 'gonernment': '정부, 정치'}
{'environment': '환경', 'gonernment': '정부, 정치', 'company': '회사', 'face': '얼굴', 'apple': '사과'}

## Exercise 60. 데이터 구조 (딕셔너리)
* 다음 actor_info 딕셔너리 변수를 만들고, 홈페이지, 배우 이름, 최근 출연 영화 갯수를 다음과 같이 출력하세요.
```python
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}
```
* 출력 예:<br>
배우 이름: 마동석 <br/>
홈페이지: https://www.instagram.com/madongseok <br/>
출연 영화 갯수: 3 <br/>

In [16]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                 '성별': '남',
                 '직업': '배우',
                 '홈페이지': 'https://www.instagram.com/madongseok'},
'actor_name': '마동석',
'actor_rate': 59361,
'date': '2017-10',
'movie_list': ['범죄도시', '부라더', '부산행']}

# actor name
print("배우 이름:", actor_info['actor_name'])
# homepage
print("홈페이지:", actor_info['actor_details']['홈페이지'])
# movie list
print("출연 영화 갯수:", len(actor_info['movie_list']))

배우 이름: 마동석
홈페이지: https://www.instagram.com/madongseok
출연 영화 갯수: 3

## Exercise 61. 데이터 구조 (집합)
* number_list가 다음과 같은 리스트일 때 중복 숫자를 제거한 리스트를 만들고, 출력하세요.
```python
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9, 10, 10]
```

In [19]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9, 10, 10]
number_set = set(number_list)
print(number_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}